.homepage {
  background-color: rgba(255, 255, 255, 0.171);
  width: 40%;
  margin: 10%;
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
}

.homepage h1 {
  font-family: 'Spartan', sans-serif;
}

.search {
  border: 1px solid black;
  border-radius: 5%;
  width: 30%;
  margin: 2% auto;
  background-color: rgba(255, 255, 255, 0.226);
}

.search p {
  font-size: 1.3rem;
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.315);
  cursor: pointer;
}
.search:active {
  background-color: rgba(156, 149, 149, 0.274);
}

.homepage-container {
  display: flex;
  flex-direction: row;
  height: 600px;
}
