.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url(https://camo.stream.highwebmedia.com/b86cd52d63fc124e2e319ce1b40d014d6208a81f/68747470733a2f2f636c69706c792e636f2f77702d636f6e74656e742f75706c6f6164732f323032302f30312f3430323030313934305f4845415254535f42475f34303070782e676966);
  background-size: cover;
}
